#event-card{
    position: relative;
    width: fit-content
}
.events{
    width: 100%;
    height: 100%;
    margin: 70px;
    padding: 100px;
}
.red{
    
    width: 200px;
    height: 200px;

}
.desc >p {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
    line-height: 2;
    font-family: Helvetica,sans-serif;

}
.green{
    background-color: rgb(240, 242, 240);
    width: 450px;
    height: 320px;
    position: absolute;
    left: 312px;
    padding: 25px;
    
    box-shadow: 50px 40px 115px rgb(0 0 0 / 20%);
    top: 50px;
}